@import "../settings";

%links {

    a:link,
    a:visited {
        color:$highlight;
    }

    a:hover {
        text-decoration-line: underline;
        text-decoration-style: dotted;
        text-decoration-color: $highlight;
		cursor:pointer;
    }

}

%buttons {
    cursor:pointer;
}
