    <header>
        <div class="nav-header">
            <div class="nav-header__logo">
                <a href="{{ "index.html" | prepend: site.baseurl }}"><img src="{{ "dist/images/logo.svg" | prepend: site.baseurl }}" alt="web site logo" onerror="this.onerror=null; this.src='{{ "dist/images/logo.png" | prepend: site.baseurl }}'"/></a>
            </div>
            <div class="nav-header__desc">
                <h1>
                    {{ site.title }} 
                </h1>
                <h2>
                    {{ site.description }}
                </h2>
            </div>
            <ul class="nav-menu">
                {% for pag in site.pages %}
                    {% if pag.layout == "page" and pag.menu != false %}
                    <li class="{% if pag.url == page.url %} nav-menu--active {% endif %}">
                        <a href="{% if site.baseurl == "/" %}{{ pag.url }}{% else %}{{ pag.url | prepend: site.baseurl }}{% endif %}" title="{{ pag.title }}">{{ pag.header-title }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </header>
