@import "helpers/rhythm";

.highlight {
    padding-top:1.5 * 1.618em;
    background-color: rgb(63, 63, 63);
    //fix to prevent the collapsing of margins
    overflow:auto;
    clear:both;
}

.highlight > pre {
	background-color: inherit !important;
}

article > p > code {
	padding: 3px;
	border: 2px solid #ddd;
	border-radius: 6px;
	background-color: #60ff004d;
}
