@import "helpers/rhythm";

article {
    p,
    ol,
    ul,
    figure,
    pre,
    dd,
    table,
    video,
    canvas {
        @extend %small;
        @extend %content;
    }

	// elements with nested elements
	// that would break em font-sizing
	form,
    blockquote {
        @extend %content;
		margin-bottom: 1.5em;
	}

    hgroup,
    h2 {
        @extend %medium;
        @extend %content;
    }

    h1 {
        @extend %big;
        @extend %content;
        font-weight:100;
    }

    ol li,
    ul li {
        margin-left:50px;
    }
}

#disqus_thread {
	@extend %small;
	@extend %content;
}
