@import url(http://fonts.googleapis.com/css?family=PT+Sans);
@import "breakpoints";

body {
    font-family:"PT Sans", sans-serif;
}

.wrap {
   font-size:0.6rem;
    @include respond-to(medium) {
        font-size:0.7rem;
    }
}
