@import "breakpoints";
@import "settings";
@import "helpers/links";

.footer {
    @extend %links;
    text-align:center;
/*    background: transparent url("../images/bg-footer.png") repeat-x scroll 0px 0px;
*/
    padding-top: 50px;
    margin:0 -8px;

    @include respond-to('small') {
        margin:0;
    }

    p {
        padding: 3.69231em 5%;
        margin-bottom: 0em;
        //background: #E0E0D8 linear-gradient(#E0E0D8, #EAEAE1) repeat scroll 0% 0%;
    }
}
