@import "settings";
@import "helpers/links";

.home__about {
    @extend %links;
}

.about li {
    list-style-type: circle;
    margin-left:10px;
    list-style-position:inside;
}

.about .button {
    border-radius:2px;
    padding:8px 5px;
    background-color: lighten($highlight, 10);

    display:inline-block;
    cursor:pointer;

    a:link,
    a:visited,
    a:hover {
    color:$text-on-primary;
    }

    &:hover {
        background-color:$highlight;
    }
}

.welcome {
    background-image:url('./bg-jumbotron.png');
    background-position:right center;
    background-size: 350px auto;
    background-repeat: no-repeat;
    h1 {
        font-weight:100;
    }
}

.welcome-wrap {
    border-bottom: 1px solid #EAEAE1;
}
