@import "susy/sass/susy";
@import "breakpoints";

$susy: (
  /* Tells Susy to use 12 columns */
  columns: 12,
  /* Tells Susy that the container has a max-width */
  container: 60em,
  /* Tells Susy to use border-box */
  global-box-sizing: border-box,
  debug: (
    image: hide,
    color: blue,
  )
);

.wrap {
  @include container;
}

body {
   font-size:0.7rem;

    @include respond-to('small') {
        font-size:0.6rem;
    }

    @include respond-to('medium') {
        font-size:0.7rem;
    }

    @include respond-to('large') {
        font-size:0.64rem;
    }

}

.title {
    @include respond-to('small') {
        @include span(12 of 12 last); 
    }
}

.nav-header {
   /* @include respond-to('small') {
        @include span(12 of 12 last); 
    }
	*/
	max-width:80em;
	margin: 0 auto;
}

.nav-header__logo {

    @include respond-to('small') {
        @include span(1 of 12 no-gutters); 
    }
}

.nav-header__desc {
    display:none;

    @include respond-to('small') {
        display:block;
        @include span(4 of 12);
    }
}

.nav-menu {
    @include respond-to('small') {
        @include span(7 of 12 last); 
    }

}


.content {
    @include respond-to('small') {
        @include span(9 of 12 last); 
    }
}

/* Tells Susy there's 4 columns in the sidebar, and its the last item on the row. */
.sidebar {
    @include respond-to('small') {
        @include span(3 of 12); 
        //@include clearfix;
    }
}

.sidenotes {
    @include respond-to('small') {
        @include span(2 of 3); 
        margin-left: gutter(4) + span(1 of 4);
    }
}

$susy: (
  /* Tells Susy to use 12 columns */
  columns: 12,
  /* Tells Susy that the container fills the width of the viewport*/
  container: fluid,
  /* Tells Susy to use border-box */
  global-box-sizing: border-box,
  debug: (
    image: hide,
    color: blue,
  )
);

header {
    @include container;
}

.welcome-wrap {

}

$susy: (
  /* Tells Susy to use 12 columns */
  columns: 3,
  /* Tells Susy that the container fills the width of the viewport*/
  container: 80em,
  /* Tells Susy to use border-box */
  global-box-sizing: border-box,
  gutters: .18,
  debug: (
    image: hide,
    color: blue,
  )
);

.welcome {
    @include container;
}

.about {
    @include container;
}

.whoami {
    @include respond-to('small') {
        @include span (1 of 3);
    }
}

.latest-articles {
    @include respond-to('small') {
        @include span (2 of 3 last);
    }
}
