@import "breakpoints";
@import "helpers/links";

.sidebar {

    @extend %links;
    
    @include respond-to('medium') {
        border-top:solid 1px #d1d1d1;
    }

    .post__meta {

        @extend %links;
        
        margin:0px;
        padding:0px;
        list-style-type:none;
        color:lighten($dark, 32);
        margin-bottom:1.5em;
        
        @include respond-to('small') {
            
        }

    }

    .post__i18n, 
    .post__date, 
    .post__tags {
        border-bottom:1px dotted #a1a1a1;
        padding:3px 0;
    }

    .post__date {
    }

    .post__tags {

    }

    .post__i18n {
        /*
        background-image:url('../images/i18n.png');
        background-position:0% 50%;
        background-repeat:no-repeat;
        padding-left:18px;
        */
    }
}
