@import 'settings';
@import 'helpers/links';

.about {
   @extend %links; 
}

.about time {
    font-style:italic;
}

.nav-header__desc {
    a:visited,
    a:link,
    a:hover,
    a:active {
        color:inherit;
    }
}

