@import "modularscale-sass/stylesheets/modularscale";
@import "breakpoints";

$line-height-ratio:1.5;
//height of one stripe (the baseline for all vertical spacing)
$line-height-em: $line-height-ratio * ms(1);
$stripe: $line-height-ratio * ms(1);

//returns line height in percentages
@function vr($level) {
    $level-font-size: ms($level);
    $line-height-multiple: 1;
    @while ($line-height-multiple * $line-height-ratio * ms(1)) < $level-font-size {
        $line-height-multiple: $line-height-multiple + 1;
    }
    @return ($line-height-multiple * ms(1) * $line-height-ratio)/$level-font-size;
}

//Calculates margin-bottom/padding-top 
//@level: font size level from 0-3
// this is **only** used for font levels greater than 1
// otherwise, margin is always $line-height-ratio ems
// TODO: this assumes level == multiple of line-height
@function mb($level) {
    $level-factor:ms($level);
    $line-height-em:$line-height-ratio * ms(1);
    @return $level * $line-height-em / $level-factor;
}

body, blockquote, article, p, li, ol, ul, h1, h2, h3, img, pre, code {
  padding:0;
  margin:0;
}


body {

	//TODO provide padding in mobile view
    padding:0 8px;
    @include respond-to('small') {
        padding:0;
    }
}


.nav-header {
	min-height: $stripe * 3; 	
}

.nav-menu {
    @include respond-to('small') {
        padding-top:$line-height-ratio + em;
    }
}

.nav-header__logo {
    @include respond-to('small') {
		padding-top:1em;
    }
}

.nav-header__desc {
    @include respond-to('small') {
		padding-top:$stripe;
    }
}


.highlight {
    font-size:ms(0);
    margin-top:0;
    margin-bottom:vr(1) * 1.618 + em;
}

/* Home page */

.about ul,
.about p {
    font-size:ms(1);
}

.welcome {

    @include respond-to('small') {
		min-height:$line-height-em * 5;
    }

    @include respond-to('medium') {
		min-height:$line-height-em * 15;
    }
}

.welcome h1 {
    font-size:ms(4);
		padding-top:(($stripe * 7) / ms(4)) + em;
}

.welcome-wrap__call > p {
	font-size: ms(1);
	line-height: $line-height-ratio;
}

.about {

    h2 {
    padding:vr(1) + em 0;
    font-size:ms(1);
    line-height:vr(1);
    }

    ul, 
    p {
        padding-bottom:vr(1) + em;
        line-height:vr(1);
    }
}

.about .button {
	font-size:ms(1);
}

/* Generic pages */
.home__about {
    > p,
    > ul {
    font-size:ms(1);
    line-height:vr(1);
    margin-bottom:$line-height-ratio + em;
    }
}

article {
	//added ms(1), since article element 
	//does not have a set font size
	padding-top: $line-height-em;
}

/* Footer */

.footer p {
    font-size:ms(0);
}


