@import "../../bower_components/modular-scale/stylesheets/modular-scale";
@import "breakpoints";

$line-height-ratio:1.5;

//returns line height in percentages
@function vr($level) {
    $level-font-size: ms($level);
    $line-height-multiple: 1;
    @while ($line-height-multiple * $line-height-ratio * ms(1)) < $level-font-size {
        $line-height-multiple: $line-height-multiple + 1;
    }
    @return ($line-height-multiple * ms(1) * $line-height-ratio)/$level-font-size;
}

/* TODO
- function to calculate margin-bottom 
- function/mixin to calculate height as a multiple of ms(1) for
  elements without font size defined;
multiplies base height by a given factor */

@function mb($level) {
    $level-font-size:ms($level);
    $line-height-em:$line-height-ratio * ms(1);
    @return $level * $line-height-em / $level-font-size;
}

body, blockquote, p, li, ol, ul, h1, h2, h3, img, pre, code {
  padding:0;
  margin:0;
}


body {
    padding:0 8px;

    @include respond-to('small') {
        padding:0;
    }
}

header {
    padding-top:1.3em;
}

.nav-menu {

    @include respond-to('small') {
        margin-top:20px;
    }
}

.nav-header__logo {
    @include respond-to('small') {
        margin-bottom:ms(1) * 1.5;
    }
}


.highlight {
    font-size:ms(0);
    margin-top:0;
    margin-bottom:vr(1) * 1.618 + em;
}

/* Home page */

.about ul,
.about p {
    font-size:ms(1);
}

.welcome {
    min-height:200px;
}

.welcome h1 {
    font-size:ms(3);
    padding-top:75px;
}

.about {

    h2 {
    padding:vr(1) + em 0;
    font-size:ms(1);
    line-height:vr(1);
    }

    ul, 
    p {
        padding-bottom:vr(1) + em;
        line-height:vr(1);
    }
}

/* Generic pages */
.home__about {
    > p,
    > ul {
    font-size:ms(1);
    line-height:vr(1);
    margin-bottom:$line-height-ratio + em;
    }
}

/* Footer */

.footer p {
    font-size:ms(0);
}


