<!doctype html>
<html lang="es">
{{ partial "head.html" . }}
<body>

{{ partial "header.html" . }}

    <article>
        <h1>{{ .Title }}</h1>
		<!--
		<h2>{{ .Description }}</h2>
		<div class="article__metadata"> 
			<div class="article__metadata__date">
				{{ .PublishDate }}
		   	</div>			
			<div class="article__metadata__tags">
		   	</div>			
	   	</div> 
		-->
            {{ .Content }}
    </article>
    
	{{ template "_internal/disqus.html" . }}

    {{ partial "footer.html" . }}


</body>
</html>
