<!doctype html>
<html lang="en">
{{ partial "head.html" . }}
<body>

{{ partial "header.html" . }}

{{ partial "welcome.html" . }}

    <div class="about"> 
        <div class="whoami">
            <h2>
                Skills
            </h2>
			{{ .Content }}
            <div class="button">
                <a href="/about">Read more &raquo;</a>
            </div>
        </div>
        <div class="latest-articles">
            <h2>
                Latest articles
            </h2>
            <ul>
				 {{ range where .Pages "Section" "posts" }}
				 <li>
					 <time datetime="" class="by-line"> 
						 {{ .Date.Format "2006-01-02" }}
					 </time>:
					 <a href="{{ .Permalink }}">{{ .Title }}</a>
				</li>
				{{ end }}
			</ul>
		</div>

		<!--
        <div class="latest-articles">
            <h2>
                Flashy projects
            </h2>
        </div> 
		-->
    </div>

{{ partial "footer.html" . }}

</body>
</html>
