<!doctype html>
<html lang="es">
{% include head.html %}
<body>

{% include header.html %}

    <article>
        <h1>{{ page.title }}</h1>
            {{ content }}
    </article>
    
    <div id="disqus_thread"></div>

    {% include footer.html %}


    {% if page.math %} 
    <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>
    {% endif %}
    <script src="dist/scripts/main.js"> </script>
    {% if page.comments %}  
        <script type="text/javascript">
            /* * * CONFIGURATION VARIABLES * * */
            var disqus_shortname = 'federico-arias-disqus';
            
            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
    {% endif %}
</body>
</html>
