<!doctype html>
<html lang="es">
{% include head.html %}
<body>

{% include header.html %}

    <div class="wrap"> 
        <div class="post-title">
            <h1>{{ page.title }}</h1>
        </div>
        <div class="sidebar"> 
            {% include sidebar.html %}
        </div>
        <div class="content"> 
            {{ content }}
        </div>
    </div>
    
    {% include footer.html %}

    {% if post.math %} 
        <script src="scripts/main.js"> </script>
    {% endif %}
<script src="scripts/main.js"> </script>
</body>
</html>
